#calc {                       /* styling the calculator fitting with the requirements and style of the company website */
  width: 500px;
  height: 500px;
  text-align: center;
  border: 20px solid #7b7b7b;
  margin-left: 32rem;
  background-color: #0C55A5;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20pt;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  color: #F2F2F2;
}

#display {                /* styling the display fields */
  width: 250px;
  height: 50px;
  margin-top: 1px;
  margin-bottom: 25px;
}

h1 {                    /* styling the title*/
  font-size: 32pt;
}

#employees {              /* styling the variables- should add all in one style declaring using a comma to save css code*/
  background-color: #148ECE;
}

#salary {
  background-color: #148ECE;
}

#absence {
  background-color: #148ECE;
}

input {             /* styling the input field */
  color: #22131f;
  font-size: 16pt;
  font-weight: bold;
}
